@{
    ViewData["Title"] = "Home Page";
}

@model EmailService.EmailModel




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h2>Contact us!</h2>
    <form asp-action="Index">
        <div class="form-group">
            <label>To</label>
            <input type="text" asp-for="To" class="form-control" />
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" asp-for="Subject" class="form-control" />
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" asp-for="Body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send mail</button>
    </form>

    @*@await Component.InvokeAsync("ContactFormEmail")*@
</div>
